<div *ngIf="laptop">
  <div class="d-flex justify-content-center my-5">
    <div class="card laptop-card shadow p-5 w-75">
      <div class="row">
        <div class="col-8">
          <img *ngIf="laptop.imageUrl" [src]="laptop.imageUrl" class="img-fluid" alt="{{ laptop.brand }}">
        </div>
        <div class="col-4">
          <h2 class="mb-0">{{ laptop.brand }}</h2>
          <h4 class="text-muted">{{ laptop.model }}</h4>
          <hr class="text-muted">
          <h5>Specifications</h5>
          <p>{{ laptop.specs }}</p>
          <p>{{ laptop.size }}</p>
          <h1 class="fw-bold my-5">$ {{ laptop.price | number }}</h1>
          <button (click)="deleteExperience(laptop.id)" type="button" class="btn btn-light laptop-card-button me-2"><i class='bx-fw bx bx-trash'></i> Delete</button>
          <a [routerLink]="['/edit', laptop.id]" class="btn btn-light laptop-card-button ms-2"><i class='bx-fw bx bx-pencil'></i> Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>  